.background{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)) ,url(../../../../assets/background/bannerbackground.jpg);
    background-size: cover;
    background-position: center;
}